[submodule "auth-service"]
	path = auth-service
	url = https://github.com/mk101/auth-service.git
	branch = master
[submodule "user-service"]
	path = user-service
	url = https://github.com/mk101/user-service.git
	branch = master
[submodule "map-service"]
	path = map-service
	url = https://github.com/mk101/map-service.git
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/mk101/frontend.git
	branch = master
